*.class
*.classpath
*.project
/.settings
/bin/
.Rproj.user
/lib/
/R_project/
/sim_data/
/OFC2017_data/
/single_link_data/
/single_link_data_test/
/sim_data_link_installment/
*.png
*.eps
*.xlsx
*.ods
*.Rproj
*.R
*.Rhistory